
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='9999' height='999' preserveAspectRatio='none' viewBox='0 0 9999 999'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1088%26quot%3b)' fill='none'%3e%3cpath d='M10665.6 999L0 999 L0 847.27Q258.18 605.5%2c 499.95000000000005 863.67Q886.14 416.61%2c 1333.2 802.8Q1772.37 408.72%2c 2166.45 847.89Q2424.81 606.31%2c 2666.3999999999996 864.67Q3051.96 416.98%2c 3499.6499999999996 802.54Q3760.34 563.28%2c 3999.5999999999995 823.97Q4427.29 418.41%2c 4832.849999999999 846.11Q5093.33 606.65%2c 5332.799999999999 867.13Q5552.87 587.25%2c 5832.749999999999 807.32Q6100.85 575.48%2c 6332.699999999999 843.58Q6576.7 587.63%2c 6832.649999999999 831.64Q7098.59 597.63%2c 7332.5999999999985 863.57Q7558.11 589.13%2c 7832.549999999998 814.64Q8075.96 558.11%2c 8332.499999999998 801.52Q8598.25 567.32%2c 8832.449999999999 833.07Q9076.81 577.48%2c 9332.4 821.85Q9571.77 561.27%2c 9832.35 800.64Q10278.01 413.05%2c 10665.6 858.71z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M10332.3 999L0 999 L0 868.9Q423.86 459.51%2c 833.25 883.37Q1068.41 618.59%2c 1333.2 853.75Q1615.45 636.04%2c 1833.15 918.29Q2222.83 474.71%2c 2666.4 864.39Q3096.95 461.69%2c 3499.65 892.24Q3926.12 485.46%2c 4332.9 911.93Q4557.41 636.49%2c 4832.849999999999 861Q5087.9 616.1%2c 5332.799999999999 871.15Q5770.61 475.71%2c 6166.049999999999 913.53Q6576.33 490.57%2c 6999.299999999999 900.85Q7397.8 466.1%2c 7832.549999999999 864.6Q8255.18 453.98%2c 8665.8 876.61Q9092.47 470.03%2c 9499.05 896.7Q9898.35 462.76%2c 10332.3 862.06z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M10332.3 999L0 999 L0 946.97Q230.87 677.89%2c 499.95000000000005 908.76Q930.11 505.66%2c 1333.2 935.82Q1762.11 531.48%2c 2166.45 960.39Q2556.61 517.31%2c 2999.7 907.47Q3266.5 674.32%2c 3499.6499999999996 941.12Q3755.28 696.81%2c 3999.5999999999995 952.44Q4402.05 521.64%2c 4832.849999999999 924.09Q5258.5 516.5%2c 5666.099999999999 942.15Q5901.07 677.18%2c 6166.049999999999 912.15Q6592.48 505.34%2c 6999.299999999999 931.77Q7429.66 528.88%2c 7832.549999999999 959.25Q8242.86 536.31%2c 8665.8 946.62Q9067.28 514.85%2c 9499.05 916.33Q9910.57 494.61%2c 10332.3 906.13z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M9999.000000000002 999L0 999 L0 960.77Q271.09 731.9%2c 499.95000000000005 1002.99Q737.42 740.51%2c 999.9000000000001 977.97Q1237.29 715.41%2c 1499.8500000000001 952.8Q1924.03 543.73%2c 2333.1000000000004 967.91Q2605.81 740.67%2c 2833.05 1013.37Q3072.79 753.16%2c 3333 992.9Q3571.08 731.03%2c 3832.95 969.11Q4268.94 571.85%2c 4666.2 1007.84Q5077.31 585.7%2c 5499.45 996.81Q5908.59 572.7%2c 6332.7 981.85Q6742.97 558.88%2c 7165.95 969.15Q7433.52 736.77%2c 7665.9 1004.34Q8054.98 560.17%2c 8499.15 949.26Q8758.11 708.27%2c 8999.1 967.23Q9265.68 733.86%2c 9499.050000000001 1000.44Q9724.04 725.47%2c 9999.000000000002 950.46z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1088'%3e%3crect width='9999' height='999' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.botao-wpp {
    text-decoration: none;
    color: #eee;
    background-color: #25d366;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 3px;
    float: left;
  }
  
  .botao-wpp:hover {
    background-color: darken(#25d366, 5%);
  }
  
  .botao-wpp:focus {
    background-color: darken(#25d366, 15%);
  }

  .row-buttons {
    width: 50px;
    margin: 0 auto;
    display: inline;
    margin-top: 50px;
  }